<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/contacts/css/normalize.css">
  <link rel="stylesheet" href="/contacts/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <section id="main">
    <h1>Uplify Player</h1>
    <p>По вопросам сотрудничества пишите <a href="mailto:sales@uplify.app">sales@uplify.app</a></p>
  </section>
</body>

</html>
