<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>CQ DEMO</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/cq/css/normalize.css">
  <link rel="stylesheet" href="/cq/css/main.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3_debug.js"></script>
  <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
  <script src="/cq/js/main.js"></script>
  <script type="text/javascript" src="/scripts/dist/application.js"></script>
  <script>
     
  </script>
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <section id="main">
    <a href="https://cq.ru/" class="main-logo"> </a>  
    <h1>Uplify Player 🤝 CQ.ru</h1>
    
    <h2>Twitch Live Stream demo</h2>
    <input id="streamer__name" name="streamer__name" placeholder="Введите никнейм стримера" value="mrfreshasian">
    <button class="btn-grad" id="streamer__name__btn">👾 GO!</button> <br/>
    <label for="streamer__name">Укажите никнейм стримера, как в URL на сайте twitch.tv</label>
    <div id="container-1" class="container"> 

    </div> 

    <div style="display: none;">
      <h3>Пример интеграции через iFrame</h3>
      <textarea id="videoplayer-1-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=mrfreshasian&platform=twitch&section_id=3813526&w=640&h=360&interval=80" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>
    </div>

    <h3>Пример интеграции код</h3>
    <textarea rows="20" style="height: 240px;" id="videoplayer-1-js" class="player-integration">&lt;div id="container" style="width: 100%; height: 100%;"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"&gt;&lt;/script&gt;
&lt;script src= "https://player.twitch.tv/js/embed/v1.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="https://player.uplify.app/scripts/dist/application.js"&gt;&lt;/script&gt;
&lt;script&gt;
  window.onload = function() {
      const application = new UPApp({
          platform: 'twitch',
          twitchType: '',
          platformId: 'mrfreshasian',
          sectionId: 3813526,
          width: 640,
          height: 320,
          widthFloated: 400,
          heigthFloated: 225,
          interval: 600,
          mode: 'fixed',
          title: 'ANY TITLE TO ATTRACT USERS'
      });
      
  };
&lt;/script&gt;
      </textarea>

    <h2>Twitch VOD demo</h2>
    <input id="twitch__id" name="twitch__id" placeholder="Введите никнейм стримера" value="v335989820">
    <button class="btn-grad" id="twitch__id__btn">🎮 GO!</button> <br/>
    <label for="twitch__id">Укажите ID видео из настроек шеринга twitch.tv</label>
    <div id="container-2" class="container"> 

    </div> 
    <div style="display: none;">
      <h3>Пример интеграции через iFrame</h3>
      <textarea id="videoplayer-2-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=v335989820&platform=twitch&twitch_type=video&section_id=3813526&w=640&h=360&interval=80" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>
    </div>
    
    
    <h3>Пример интеграции код</h3>
    <textarea rows="20" style="height: 240px;" id="videoplayer-2-js" class="player-integration">&lt;div id="container" style="width: 100%; height: 100%;"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"&gt;&lt;/script&gt;
&lt;script src= "https://player.twitch.tv/js/embed/v1.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="https://player.uplify.app/scripts/dist/application.js"&gt;&lt;/script&gt;
&lt;script&gt;
  window.onload = function() {
    const application = new UPApp({
          platform: 'twitch',
          twitchType: 'video',
          platformId: 'v335989820',
          sectionId: 3813526,
          width: 640,
          height: 320,
          widthFloated: 400,
          heigthFloated: 225,
          interval: 600,
          mode: 'fixed',
          title: 'ANY TITLE TO ATTRACT USERS'
    });
  };
&lt;/script&gt;
      </textarea>

    <h2>Youtube VOD demo</h2>
    <input id="youtube__id" name="youtube__id" placeholder="Введите никнейм стримера" value="6NA5HR5svz8">
    <button class="btn-grad" id="youtube__id__btn">🕹 GO!</button> <br/>
    <label for="youtube__id">Укажите ID видео из настроек для шеринга Youtube</label>
    <div id="container-3" class="container"> 

    </div>
    <div style="display: none;">
      <h3>Пример интеграции через iFrame</h3>
      <textarea id="videoplayer-3-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=6NA5HR5svz8&platform=youtube&section_id=3813526&w=640&h=360&interval=80" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>
    </div>
    

    <h3>Пример интеграции код</h3>
    <textarea rows="20" style="height: 240px;" id="videoplayer-3-js" class="player-integration">&lt;div id="container" style="width: 100%; height: 100%;"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"&gt;&lt;/script&gt;
&lt;script src= "https://player.twitch.tv/js/embed/v1.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="https://player.uplify.app/scripts/dist/application.js"&gt;&lt;/script&gt;
&lt;script&gt;
  window.onload = function() {
      const application = new UPApp({
          platform: 'youtube',
          twitchType: '',
          platformId: '6NA5HR5svz8',
          sectionId: 3813526,
          width: 640,
          height: 390,
          interval: 600,
          mode: 'fixed',
          title: 'ANY TITLE TO ATTRACT USERS'
      });
  };
&lt;/script&gt;
      </textarea>
  </section>
</body>

</html>

