<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/cyber.sports.ru/css/normalize.css">
  <link rel="stylesheet" href="/cyber.sports.ru/css/main.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3_debug.js"></script>
  <script src= "https://player.twitch.tv/js/embed/v1.js"></script>

  <script src="/cyber.sports.ru/js/main.js"></script>
  <script type="text/javascript" src="/scripts/dist/application.js"></script>

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <section id="main">
    <a href="https://cyber.sports.ru/" class="main-logo">
        <svg width="169.05882352941177" height="24" class="svg-icon nav-top-line__logo-image--cyber">
            <use xlink:href="#cyber-logo-full">
            <svg viewBox="0 0 479 68" id="cyber-logo-full" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M208 47.68l4.231-5.836c3.175 2.725 7.935 4.477 12.232 4.477 3.306 0 5.62-1.104 5.62-3.374 0-2.4-1.852-3.307-6.678-4.15-6.677-1.167-13.818-2.724-13.818-10.833 0-6.942 5.82-10.964 13.685-10.964 7.206 0 11.57 1.817 15.472 4.868l-4.165 5.9c-3.57-2.4-7.075-3.761-10.38-3.761-3.042 0-4.761 1.167-4.761 3.05 0 2.074 1.917 2.919 6.28 3.696C232.662 31.921 240 33.478 240 41.327 240 49.693 232.595 53 224.463 53c-7.735 0-12.893-2.331-16.463-5.32M267.38 34.939c0-5.744-2.048-9.36-6.798-9.36-2.705 0-5.146 1.617-6.927 3.357v12.71c2.308 2.127 4.222 3.163 7.06 3.163 4.421 0 6.664-3.613 6.664-9.87zM264.475 17C272.46 17 278 23.002 278 34.87c0 11.875-5.607 17.742-13.657 17.742-4.75 0-8.05-1.676-10.688-4.577V65H242.99V27.002c0-4.13-.264-6.645-.99-8.388L252.4 17c.53 1.229.99 4.388.99 6.325 2.311-3.098 5.872-6.325 11.086-6.325zM306.365 35.098c0-5.772-2.048-10.444-7.332-10.444-5.086 0-7.398 4.217-7.398 10.444 0 5.774 1.982 10.573 7.398 10.573 5.022 0 7.332-4.281 7.332-10.573zM281 35.036C281 21.477 290.445 17 299.033 17 307.555 17 317 21.477 317 35.036 317 48.46 307.555 53 299.033 53 290.513 53 281 48.46 281 35.036zM332.372 23.692c1.898-2.896 5.36-6.692 11.31-6.692.458 0 1.318.13 1.318.13l-.783 9.07c-.077-.064-1.778-.19-2.433-.19-4.181 0-7.32 2.187-9.28 4.696V52H321.98V26.975c0-4.119-.26-6.628-.98-8.366L331.263 17c.522 1.225.979 4.763.979 6.692h.13M366.155 43.794c1.778 0 3.884-.38 4.805-.635l2.04 7.38c-1.84.635-4.671 1.461-9.872 1.461-10.399 0-10.598-5.534-10.598-11.897V25.825H347l.642-8.83h4.888V7.907L363.062 6v10.995h9.018v8.83h-9.018V39.15c0 2.988.724 4.644 3.093 4.644M374 47.68l4.232-5.836c3.172 2.725 7.932 4.477 12.229 4.477 3.306 0 5.62-1.104 5.62-3.374 0-2.4-1.85-3.307-6.677-4.15-6.679-1.167-13.817-2.724-13.817-10.833 0-6.942 5.817-10.964 13.686-10.964 7.206 0 11.57 1.817 15.47 4.868l-4.165 5.9c-3.57-2.4-7.074-3.761-10.38-3.761-3.04 0-4.761 1.167-4.761 3.05 0 2.074 1.918 2.919 6.283 3.696 6.941 1.168 14.28 2.725 14.28 10.574C406 49.693 398.595 53 390.461 53c-7.736 0-12.89-2.331-16.461-5.32M430.374 23.692C432.27 20.796 435.733 17 441.68 17c.458 0 1.32.13 1.32.13l-.785 9.07c-.077-.064-1.776-.19-2.43-.19-4.183 0-7.321 2.187-9.282 4.696V52h-10.521V26.975c0-4.119-.262-6.628-.982-8.366L429.263 17c.523 1.225.98 4.763.98 6.692h.131M467.426 46.636C465.32 49.298 461.376 53 455.26 53 449.276 53 445 50.079 445 42.932V17h10.589v22.88c0 3.117 1.183 4.803 4.14 4.803 2.828 0 5.265-1.488 7.631-3.504V17h10.587v25.218c0 4.156.264 7.337 1.053 9.095L468.412 53c-.526-1.362-.854-4.608-.854-6.364h-.132" fill="#FFF"></path><path d="M6 12c-3.303 0-6-2.764-6-6.069C0 2.63 2.697 0 6 0c3.302 0 6 2.63 6 5.931C12 9.236 9.302 12 6 12" fill="#FF003C"></path><path d="M6 26c-3.303 0-6-2.764-6-6.069C0 16.63 2.697 14 6 14c3.302 0 6 2.629 6 5.931C12 23.236 9.302 26 6 26" fill="#FFC300"></path><path d="M6 40c-3.303 0-6-2.764-6-6.069C0 30.63 2.697 28 6 28c3.302 0 6 2.629 6 5.931C12 37.236 9.302 40 6 40" fill="#00AA32"></path><path d="M6 54c-3.303 0-6-2.764-6-6.068C0 44.63 2.697 42 6 42c3.302 0 6 2.63 6 5.932C12 51.236 9.302 54 6 54" fill="#00A0F0"></path><path d="M412 53c-3.303 0-6-2.764-6-6.069 0-3.301 2.697-5.931 6-5.931 3.302 0 6 2.63 6 5.931 0 3.305-2.698 6.069-6 6.069" fill="#FFF"></path><path d="M6 68c-3.303 0-6-2.764-6-6.069C0 58.63 2.697 56 6 56c3.302 0 6 2.63 6 5.931C12 65.236 9.302 68 6 68" fill="#964BA0"></path><path d="M42.275 52.704c-2.134 0-4.15-.31-6.048-.928-1.9-.619-3.67-1.59-5.312-2.912-1.643-1.323-2.955-3.179-3.936-5.568-.982-2.39-1.472-5.163-1.472-8.32 0-3.243.533-6.07 1.6-8.48 1.066-2.41 2.474-4.267 4.224-5.568 1.749-1.301 3.573-2.25 5.472-2.848a19.61 19.61 0 015.92-.896c4.266 0 7.52.939 9.76 2.816 2.24 1.877 3.936 4.416 5.088 7.616l-8.64 2.88c-.64-2.09-1.462-3.573-2.464-4.448-1.003-.875-2.294-1.312-3.872-1.312-2.134 0-3.798.885-4.992 2.656-1.195 1.77-1.792 4.32-1.792 7.648 0 3.2.544 5.739 1.632 7.616 1.088 1.877 2.762 2.816 5.024 2.816 3.2 0 5.44-2.027 6.72-6.08l8.512 2.944c-2.816 6.912-7.958 10.368-15.424 10.368zm24.44 12.352c-3.627 0-6.87-.405-9.728-1.216l2.176-7.936c2.261.597 4.416.896 6.464.896 2.133 0 3.584-.981 4.352-2.944l.64-1.664-13.056-34.304h10.624l7.488 22.144h.128l7.552-22.144h9.984L79.003 55.584c-1.195 3.157-2.73 5.525-4.608 7.104-1.877 1.579-4.437 2.368-7.68 2.368zm49.593-12.544c-4.566 0-8.15-1.643-10.752-4.928L104.66 52h-9.024V4.64h10.304v18.496c2.816-3.968 6.314-5.952 10.496-5.952 4.01 0 7.2 1.525 9.568 4.576 2.368 3.05 3.552 7.435 3.552 13.152S128.36 44.992 125.972 48c-2.39 3.008-5.611 4.512-9.664 4.512zm-3.52-7.744c2.133 0 3.744-.843 4.832-2.528 1.088-1.685 1.632-4.107 1.632-7.264 0-6.187-2.198-9.28-6.592-9.28-2.262 0-4.502 1.11-6.72 3.328v12.608c2.218 2.09 4.5 3.136 6.848 3.136zm36.792 7.936c-2.347 0-4.512-.32-6.496-.96a17.622 17.622 0 01-5.504-2.944c-1.685-1.323-3.008-3.168-3.968-5.536-.96-2.368-1.44-5.13-1.44-8.288 0-3.157.555-5.941 1.664-8.352 1.11-2.41 2.55-4.267 4.32-5.568 1.77-1.301 3.605-2.272 5.504-2.912 1.899-.64 3.787-.96 5.664-.96 1.963 0 3.787.277 5.472.832 1.685.555 3.339 1.493 4.96 2.816 1.621 1.323 2.901 3.296 3.84 5.92.939 2.624 1.408 5.77 1.408 9.44v1.536h-22.592c.47 5.205 3.115 7.808 7.936 7.808 3.755 0 7.125-1.365 10.112-4.096l3.968 6.144c-4.01 3.413-8.96 5.12-14.848 5.12zm-7.04-21.056h13.248c-.512-4.736-2.688-7.104-6.528-7.104-1.707 0-3.157.587-4.352 1.76-1.195 1.173-1.984 2.955-2.368 5.344zm36.92-7.808h.128c2.86-4.437 6.55-6.656 11.072-6.656l1.6.128-.768 9.024c-.768-.128-1.664-.192-2.688-.192-3.669 0-6.698 1.557-9.088 4.672V52h-10.304V27.104c0-3.968-.32-6.741-.96-8.32l10.048-1.6c.64 1.536.96 3.755.96 6.656zm24.297 23.232c0 1.579-.555 2.933-1.664 4.064-1.11 1.13-2.453 1.696-4.032 1.696-1.579 0-2.923-.565-4.032-1.696-1.11-1.13-1.664-2.485-1.664-4.064 0-1.579.555-2.912 1.664-4 1.11-1.088 2.453-1.632 4.032-1.632 1.579 0 2.923.544 4.032 1.632 1.11 1.088 1.664 2.421 1.664 4z" fill="#FFF"></path></g></svg>
            </use>
        </svg>
    </a>  
    <h1>Uplify Player 🤝 cyber.sports.ru</h1>
    
    <h2>Twitch Live Stream demo</h2>
    <input id="streamer__name" name="streamer__name" placeholder="Введите никнейм стримера" value="weplayesport_en">
    <button class="btn-grad" id="streamer__name__btn">👾 GO!</button> <br/>
    <label for="streamer__name">Укажите никнейм стримера, как в URL на сайте twitch.tv</label>
    <div id="container-1" class="container"> 

    </div>

    <div style="display: none;">
      <h3>Пример интеграции через iFrame</h3>
      <textarea id="videoplayer-1-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=weplayesport_en&platform=twitch&section_id=3871321&w=640&h=360" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>
    </div>

    <h3>Пример интеграции код</h3>
    <textarea rows="20" id="videoplayer-1-js" class="player-integration">&lt;div id="container" style="width: 100%; height: 100%;"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"&gt;&lt;/script&gt;
&lt;script src= "https://player.twitch.tv/js/embed/v1.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="https://player.uplify.app/scripts/dist/application.js"&gt;&lt;/script&gt;
&lt;script&gt;
  window.onload = function() {
    const application = new UPApp({
          platform: 'twitch',
          twitchType: '',
          platformId: 'weplayesport_en',
          sectionId: 3871321,
          width: 640,
          height: 320,
          widthFloated: 400,
          heigthFloated: 225
          interval: 600,
          mode: 'fixed',
          title: 'ANY TITLE TO ATTRACT USERS'
      });
  };
&lt;/script&gt;
      </textarea>

    <h2>Twitch VOD demo</h2>
    <input id="twitch__id" name="twitch__id" placeholder="Введите никнейм стримера" value="v335989820">
    <button class="btn-grad" id="twitch__id__btn">🎮 GO!</button> <br/>
    <label for="twitch__id">Укажите ID видео из настроек шеринга twitch.tv</label>
    <div id="container-2" class="container"> 

    </div>

    <div style="display: none;">
      <h3>Пример интеграции через iFrame</h3>
      <textarea id="videoplayer-2-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=v335989820&platform=twitch&twitch_type=video&section_id=3871321&w=640&h=360" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>
    </div>

    <h3>Пример интеграции код</h3>
    <textarea rows="20" id="videoplayer-2-js" class="player-integration">&lt;div id="container" style="width: 100%; height: 100%;"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"&gt;&lt;/script&gt;
&lt;script src= "https://player.twitch.tv/js/embed/v1.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="https://player.uplify.app/scripts/dist/application.js"&gt;&lt;/script&gt;
&lt;script&gt;
  window.onload = function() {
    const application = new UPApp({
          platform: 'twitch',
          twitchType: 'video',
          platformId: 'weplayesport_en',
          sectionId: 3871321,
          width: 640,
          height: 320,
          widthFloated: 400,
          heigthFloated: 225
          interval: 600,
          mode: 'fixed',
          title: 'ANY TITLE TO ATTRACT USERS'
    });
  };
&lt;/script&gt;
      </textarea>

    <h2>Youtube VOD demo</h2>
    <input id="youtube__id" name="youtube__id" placeholder="Введите никнейм стримера" value="6NA5HR5svz8">
    <button class="btn-grad" id="youtube__id__btn">🕹 GO!</button> <br/>
    <label for="youtube__id">Укажите ID видео из настроек для шеринга Youtube</label>
    <div id="container-3" class="container"> 

    </div>

    <div style="display: none;">
      <h3>Пример интеграции через iFrame</h3>
      <textarea id="videoplayer-3-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=6NA5HR5svz8&platform=youtube&section_id=3871321&w=640&h=360" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>
    </div>

    <h3>Пример интеграции код</h3>
    <textarea rows="20" id="videoplayer-3-js" class="player-integration">&lt;div id="container" style="width: 100%; height: 100%;"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"&gt;&lt;/script&gt;
&lt;script src= "https://player.twitch.tv/js/embed/v1.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="https://player.uplify.app/scripts/dist/application.js"&gt;&lt;/script&gt;
&lt;script&gt;
  window.onload = function() {
    const application = new UPApp({
          platform: 'youtube',
          twitchType: '',
          platformId: '6NA5HR5svz8',
          sectionId: 3871321,
          width: 640,
          height: 320,
          widthFloated: 400,
          heigthFloated: 225
          interval: 600,
          mode: 'fixed',
          title: 'ANY TITLE TO ATTRACT USERS'
      });
  };
&lt;/script&gt;
      </textarea>

  </section>

</body>

</html>
