<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/demo/css/normalize.css">
  <link rel="stylesheet" href="/demo/css/main.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3_debug.js"></script>
  <script src= "https://player.twitch.tv/js/embed/v1.js"></script>

  <script type="text/javascript" src="/scripts/application.js"></script>
  <script>
      function makeIframeCode(platform, id, type = '') {
          return `<iframe src="https://player.uplify.app/test?id=${id}&platform=${platform}&twitch_type=${type}&section_id=3585837&w=640&h=360" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"></iframe>`
      }

      window.onload = function() {
        const content1 = document.getElementById('container-1');
        const content2 = document.getElementById('container-2');
        const content3 = document.getElementById('container-3');
        document.getElementById('streamer__name__btn').addEventListener('click', function(e) {
            const streamerId = document.getElementById('streamer__name').value;
            content1.innerHTML = '';
            content1.innerHTML = makeIframeCode('twitch', streamerId);
            document.getElementById('videoplayer-1-code').innerText = makeIframeCode('twitch', streamerId);
        });

        document.getElementById('twitch__id__btn').addEventListener('click', function(e) {
            const videoId = document.getElementById('twitch__id').value;
            content2.innerHTML = '';
            content2.innerHTML = makeIframeCode('twitch', videoId, 'video');
            document.getElementById('videoplayer-2-code').innerText = makeIframeCode('twitch', videoId, 'video');
        });

        document.getElementById('youtube__id__btn').addEventListener('click', function(e) {
            const videoId = document.getElementById('youtube__id').value;
            content3.innerHTML = '';
            content3.innerHTML = makeIframeCode('youtube', videoId);;
            document.getElementById('videoplayer-3-code').innerText = makeIframeCode('youtube', videoId);
        });

      };
  </script>

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <section id="main">
    <a href="https://www.cybersport.ru/" class="main-logo"> </a>  
    <h1>Uplify Player 🤝 Cybersport.ru</h1>
    
    <h2>Twitch Live Stream demo</h2>
    <input id="streamer__name" name="streamer__name" placeholder="Введите никнейм стримера" value="weplayesport_en">
    <button class="btn-grad" id="streamer__name__btn">👾 GO!</button> <br/>
    <label for="streamer__name">Укажите никнейм стримера, как в URL на сайте twitch.tv</label>
    <div id="container-1" class="container"> 

    </div> 
    <h3>Пример интеграции через iFrame</h3>
    <textarea id="videoplayer-1-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=weplayesport_en&platform=twitch&section_id=3585837&w=640&h=360" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>

    <h2>Twitch VOD demo</h2>
    <input id="twitch__id" name="twitch__id" placeholder="Введите никнейм стримера" value="v335989820">
    <button class="btn-grad" id="twitch__id__btn">🎮 GO!</button> <br/>
    <label for="twitch__id">Укажите ID видео из настроек шеринга twitch.tv</label>
    <div id="container-2" class="container"> 

    </div> 
    <h3>Пример интеграции через iFrame</h3>
    <textarea id="videoplayer-2-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=v335989820&platform=twitch&twitch_type=video&section_id=3585837&w=640&h=360" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>

    <h2>Youtube VOD demo</h2>
    <input id="youtube__id" name="youtube__id" placeholder="Введите никнейм стримера" value="6NA5HR5svz8">
    <button class="btn-grad" id="youtube__id__btn">🕹 GO!</button> <br/>
    <label for="youtube__id">Укажите ID видео из настроек для шеринга Youtube</label>
    <div id="container-3" class="container"> 

    </div> 
    <h3>Пример интеграции через iFrame</h3>
    <textarea id="videoplayer-3-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=6NA5HR5svz8&platform=youtube&section_id=3585837&w=640&h=360" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>

  </section>
</body>

</html>
