<!DOCTYPE html>
<html style="width: 100%; height: 100%;">
  <head>
    <title><%= platform %></title>
    <style>
      body {
      font-size: 30px;
      }

      p {
          margin: 20px 0;
      }

      .wrapper {
          padding: 100px 0;
      }

    </style>
  </head>
  <body style="width: 100%; height: 100%;margin: 0px;">
    <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos provident quaerat aliquid obcaecati autem velit perferendis ipsam eos a quia dignissimos, repellendus dolor dolorem laborum nemo nisi nostrum in. Ducimus quae quis necessitatibus sit dolorum possimus nam explicabo earum laudantium.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia hic debitis magni, voluptatem nemo, recusandae veniam molestiae id voluptatibus facilis velit similique repudiandae! Recusandae, fugiat. Expedita autem reprehenderit unde, quia voluptatibus, quaerat architecto accusamus dolor, quidem suscipit nesciunt non vitae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero hic atque, nulla fugit inventore molestiae expedita! Dolorum unde saepe quasi molestiae? Eius vel nesciunt magnam? Dolore sit eveniet cum delectus quasi assumenda, sint facere quis ducimus quam velit consequuntur optio?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos provident quaerat aliquid obcaecati autem velit perferendis ipsam eos a quia dignissimos, repellendus dolor dolorem laborum nemo nisi nostrum in. Ducimus quae quis necessitatibus sit dolorum possimus nam explicabo earum laudantium.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia hic debitis magni, voluptatem nemo, recusandae veniam molestiae id voluptatibus facilis velit similique repudiandae! Recusandae, fugiat. Expedita autem reprehenderit unde, quia voluptatibus, quaerat architecto accusamus dolor, quidem suscipit nesciunt non vitae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero hic atque, nulla fugit inventore molestiae expedita! Dolorum unde saepe quasi molestiae? Eius vel nesciunt magnam? Dolore sit eveniet cum delectus quasi assumenda, sint facere quis ducimus quam velit consequuntur optio?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos provident quaerat aliquid obcaecati autem velit perferendis ipsam eos a quia dignissimos, repellendus dolor dolorem laborum nemo nisi nostrum in. Ducimus quae quis necessitatibus sit dolorum possimus nam explicabo earum laudantium.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia hic debitis magni, voluptatem nemo, recusandae veniam molestiae id voluptatibus facilis velit similique repudiandae! Recusandae, fugiat. Expedita autem reprehenderit unde, quia voluptatibus, quaerat architecto accusamus dolor, quidem suscipit nesciunt non vitae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia hic debitis magni, voluptatem nemo, recusandae veniam molestiae id voluptatibus facilis velit similique repudiandae! Recusandae, fugiat. Expedita autem reprehenderit unde, quia voluptatibus, quaerat architecto accusamus dolor, quidem suscipit nesciunt non vitae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero hic atque, nulla fugit inventore molestiae expedita! Dolorum unde saepe quasi molestiae? Eius vel nesciunt magnam? Dolore sit eveniet cum delectus quasi assumenda, sint facere quis ducimus quam velit consequuntur optio?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos provident quaerat aliquid obcaecati autem velit perferendis ipsam eos a quia dignissimos, repellendus dolor dolorem laborum nemo nisi nostrum in. Ducimus quae quis necessitatibus sit dolorum possimus nam explicabo earum laudantium.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia hic debitis magni, voluptatem nemo, recusandae veniam molestiae id voluptatibus facilis velit similique repudiandae! Recusandae, fugiat. Expedita autem reprehenderit unde, quia voluptatibus, quaerat architecto accusamus dolor, quidem suscipit nesciunt non vitae.</p> -->
    <div id="uplify__container" style=""> 
    </div>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia hic debitis magni, voluptatem nemo, recusandae veniam molestiae id voluptatibus facilis velit similique repudiandae! Recusandae, fugiat. Expedita autem reprehenderit unde, quia voluptatibus, quaerat architecto accusamus dolor, quidem suscipit nesciunt non vitae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero hic atque, nulla fugit inventore molestiae expedita! Dolorum unde saepe quasi molestiae? Eius vel nesciunt magnam? Dolore sit eveniet cum delectus quasi assumenda, sint facere quis ducimus quam velit consequuntur optio?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos provident quaerat aliquid obcaecati autem velit perferendis ipsam eos a quia dignissimos, repellendus dolor dolorem laborum nemo nisi nostrum in. Ducimus quae quis necessitatibus sit dolorum possimus nam explicabo earum laudantium.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia hic debitis magni, voluptatem nemo, recusandae veniam molestiae id voluptatibus facilis velit similique repudiandae! Recusandae, fugiat. Expedita autem reprehenderit unde, quia voluptatibus, quaerat architecto accusamus dolor, quidem suscipit nesciunt non vitae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia hic debitis magni, voluptatem nemo, recusandae veniam molestiae id voluptatibus facilis velit similique repudiandae! Recusandae, fugiat. Expedita autem reprehenderit unde, quia voluptatibus, quaerat architecto accusamus dolor, quidem suscipit nesciunt non vitae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero hic atque, nulla fugit inventore molestiae expedita! Dolorum unde saepe quasi molestiae? Eius vel nesciunt magnam? Dolore sit eveniet cum delectus quasi assumenda, sint facere quis ducimus quam velit consequuntur optio?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos provident quaerat aliquid obcaecati autem velit perferendis ipsam eos a quia dignissimos, repellendus dolor dolorem laborum nemo nisi nostrum in. Ducimus quae quis necessitatibus sit dolorum possimus nam explicabo earum laudantium.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia hic debitis magni, voluptatem nemo, recusandae veniam molestiae id voluptatibus facilis velit similique repudiandae! Recusandae, fugiat. Expedita autem reprehenderit unde, quia voluptatibus, quaerat architecto accusamus dolor, quidem suscipit nesciunt non vitae.</p> -->
    <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3_debug.js"></script>
    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
    <script type="text/javascript" src="/scripts/dist/application.js"></script>
    <script>
      window.onload = function() {
        const application = new UPApp({
          platform: '<%= platform %>',
          twitchType: '<%= twitch_type %>',
          platformId: '<%= id %>',
          sectionId: '<%= section_id %>',
          width: '<%= width %>',
          height: '<%= height %>',
          interval: '<%= interval %>',
          autoplay: '<%= autoplay %>' || false, 
        });
        // const application = new UPApp({
        //   platform: 'twitch',
        //   twitchType: '',
        //   platformId: 'xthesolutiontv',
        //   sectionId: '3585837',
        //   width: 320,
        //   height: 203,
        //   interval: 60,
        //   autoplay: false,
        //   mode: 'mixed',
        //   title: 'Ultimate insider: Georgeos St-Pierre VS Dan Hardy'
        // });
      };
    </script>
  </body>
</html>

