<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>RBKGames DEMO</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/rbkgames/css/normalize.css">
  <link rel="stylesheet" href="/rbkgames/css/main.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3_debug.js"></script>
  <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
  <script src="/rbkgames/js/main.js"></script>
  <script type="text/javascript" src="/scripts/dist/application.js"></script>
  <script>
     
  </script>
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <section id="main">
    <a href="https://rbkgames.com/" class="main-logo">
        <svg style="width: 100%;height: 100%;" role="img"><use xlink:href="#logo-icon">
<svg id="logo-icon" viewBox="0 0 81 30" xmlns="http://www.w3.org/2000/svg"><path d="m607.199 17.5998c0-3.7111-.921-6.8852-2.748-9.53818-1.825-2.65299-4.533-4.65063-8.107-6.0166-3.573-1.36598-7.915-2.04502-13.038-2.04502-4.89 0-9.076.742207-12.57 2.22661-3.492 1.46864-6.066 3.31625-7.741 5.53496-1.66 2.22664-2.486 4.44533-2.486 6.68773 0 1.4766.533 2.7478 1.588 3.7979 1.073 1.0423 2.415 1.5792 4.051 1.5792 1.429 0 2.525-.3474 3.295-1.0502.762-.6869 1.484-1.6502 2.191-2.9056 1.397-2.3845 3.066-4.1848 5.011-5.3771 1.946-1.16855 4.604-1.76862 7.956-1.76862 2.732 0 4.962.60007 6.71 1.80812 1.746 1.1923 2.621 2.5661 2.621 4.1058 0 2.3688-.907 4.098-2.716 5.1876-1.82 1.0818-4.806 2.1161-8.958 3.095-4.692 1.153-8.512 2.361-11.449 3.6322-2.947 1.2633-5.297 2.9293-7.059 4.9981-1.763 2.0765-2.645 4.6189-2.645 7.6352 0 2.7083.811 5.2586 2.445 7.6511 1.629 2.4003 4.035 4.3111 7.202 5.748 3.194 1.4293 7.019 2.1398 11.506 2.1398 3.518 0 6.685-.3553 9.496-1.0895 2.812-.7107 5.153-1.6819 7.036-2.8978 1.874-1.216 3.303-2.5741 4.289-4.0426.992-1.4924 1.467-2.9295 1.467-4.3428 0-1.5476-.516-2.8109-1.563-3.7979-1.049-.987-2.541-1.4764-4.47-1.4764-1.39 0-2.581.3948-3.565 1.1843-.986.7896-2.098 1.974-3.36 3.5531-1.039 1.3106-2.246 2.3609-3.645 3.1504-1.404.7817-3.295 1.1843-5.685 1.1843-2.462 0-4.509-.5132-6.137-1.5633-1.629-1.0343-2.446-2.3212-2.446-3.8611 0-1.4133.596-2.5661 1.795-3.474 1.198-.908 2.81-1.666 4.842-2.2425 2.025-.5923 4.82-1.3264 8.377-2.1713 4.218-1.0186 7.664-2.2425 10.347-3.6479 2.685-1.4212 4.71-3.0793 6.084-5.006 1.38-1.9266 2.079-4.1216 2.079-6.585zm-66.547 6.4586h-26.641c.04-3.0477.666-5.748 1.874-8.0852 1.215-2.3292 2.827-4.09 4.844-5.2744 2.008-1.19223 4.232-1.77654 6.653-1.77654 1.628 0 3.12.1895 4.472.5764 1.342.379 2.651.96324 3.913 1.76864 1.256.8054 2.431 1.666 3.494 2.5898 1.065.9239 2.437 2.1714 4.137 3.7427.699.5921 1.699.8922 2.994.8922 1.397 0 2.525-.379 3.391-1.1291.866-.7659 1.301-1.8397 1.301-3.2057 0-1.2239-.492-2.6372-1.452-4.27954-.961-1.61864-2.415-3.18201-4.36-4.68222-1.945-1.4844-4.391-2.73985-7.336-3.72682-2.939-.979079-6.33-1.46862-10.148-1.46862-8.742 0-15.556 2.45559-20.408 7.39838-4.858 4.92702-7.273 11.61472-7.273 20.07102 0 3.9639.595 7.6512 1.787 11.0621 1.199 3.411 2.945 6.3246 5.24 8.7564 2.295 2.4242 5.122 4.2954 8.48 5.5904 3.361 1.3028 7.076 1.9581 11.172 1.9581 5.322 0 9.888-1.1212 13.699-3.3399 3.803-2.2188 6.653-5.0929 8.552-8.5906 1.896-3.5216 2.841-7.1143 2.841-10.77 0-3.3793-.983-5.5666-2.945-6.5615-1.97-1.0106-4.724-1.516-8.281-1.516zm-26.641 7.6433h24.695c-.333 4.6032-1.589 8.0459-3.764 10.3278-2.183 2.2897-5.05 3.4425-8.591 3.4425-3.398 0-6.193-1.1685-8.362-3.49-2.183-2.3135-3.501-5.7481-3.978-10.2803zm-56.455-5.3218v-17.90769c0-2.8188-.645-4.94279-1.946-6.35612-1.295-1.405466-3.018-2.11609-5.139-2.11609-2.063 0-3.723.710624-5.002 2.11609-1.293 1.41333-1.929 3.53732-1.929 6.35612v21.46079c0 3.3716-.118 6.0088-.35 7.8879-.229 1.8713-.864 3.4188-1.888 4.6112-1.041 1.2001-2.669 1.7923-4.899 1.7923-4.456 0-7.393-1.516-8.8-4.5322-1.421-3.032-2.12-7.3667-2.12-13.0202v-18.19979c0-2.79513-.65-4.90329-1.929-6.33245-1.278-1.429136-2.962-2.13976-5.057-2.13976-2.066 0-3.741.710624-5.05 2.13976-1.327 1.42916-1.977 3.53732-1.977 6.33245v38.51579c0 2.5345.579 4.4532 1.77 5.764 1.183 1.3185 2.74 1.9738 4.661 1.9738 1.866 0 3.423-.608 4.669-1.8475 1.246-1.2239 1.866-2.9295 1.866-5.1008v-1.2791c2.366 2.7793 4.891 4.856 7.582 6.1667 2.692 1.3027 5.686 1.9659 8.973 1.9659 3.439 0 6.368-.6711 8.838-2.0213 2.454-1.3579 4.486-3.3871 6.082-6.1113 2.303 2.7636 4.757 4.8007 7.385 6.1351 2.628 1.3343 5.535 1.9975 8.727 1.9975 3.723 0 6.931-.7184 9.623-2.1713 2.693-1.4448 4.701-3.5137 6.035-6.2061 1.166-2.4397 1.746-6.2612 1.746-11.4884v-26.29299c0-2.8188-.651-4.94279-1.946-6.35612-1.292-1.405466-3.008-2.11609-5.144-2.11609-2.057 0-3.749.710624-5.058 2.13976-1.311 1.42916-1.97 3.53732-1.97 6.33245v22.63719c0 2.8978-.111 5.2033-.372 6.9562-.248 1.745-.922 3.2059-2.018 4.398-1.104 1.1764-2.754 1.7608-4.986 1.7608-1.795 0-3.501-.529-5.113-1.5712-1.612-1.0581-2.868-2.4714-3.764-4.248-1-2.2661-1.5-6.2693-1.5-12.0253zm-71.583-18.78414c-3.287-2.53454-6.48-4.43744-9.544-5.70077-3.081-1.263325-6.535-1.89499-10.354-1.89499-3.495 0-6.56.67904-9.197 2.04502-2.658 1.36597-4.691 3.22149-6.112 5.55074-1.431 2.32928-2.153 4.86384-2.153 7.58784 0 3.6874 1.183 6.822 3.541 9.4198 2.367 2.5897 5.599 4.3347 9.727 5.2269.866.1975 3.011.6475 6.44 1.3266 3.423.7027 6.36 1.3264 8.797 1.9029 2.448.5763 5.107 1.2712 7.959 2.0844-.169 3.5531-.891 6.1667-2.169 7.8327-1.271 1.6502-3.924 2.4951-7.948 2.4951-3.462 0-6.066-.4817-7.814-1.437-1.746-.9633-3.24-2.3924-4.486-4.3032-1.246-1.9031-2.129-3.1504-2.645-3.7663-.516-.608-1.618-.908-3.311-.908-1.539 0-2.85.4736-3.97 1.4527-1.118.9634-1.675 2.2029-1.675 3.7269 0 2.3608.849 4.6663 2.557 6.893 1.683 2.2424 4.336 4.082 7.924 5.535 3.581 1.4369 8.059 2.1713 13.42 2.1713 5.978 0 10.68-.7107 14.109-2.1004 3.423-1.3975 5.844-3.6082 7.259-6.6324 1.421-3.0319 2.12-7.0352 2.12-12.0331 0-3.1583-.008-5.835-.025-8.038-.024-2.195-.04-4.6507-.071-7.351 0-2.5346.413-5.1718 1.271-7.9116.841-2.73985 1.278-4.50063 1.278-5.30599 0-1.36599-.666-2.62932-1.986-3.76631-1.309-1.129102-2.795-1.6976-4.462-1.6976-1.39 0-2.778.63956-4.136 1.95027-1.358 1.28701-2.803 3.182-4.344 5.64549zm-.896 19.47104c-1.995-.7263-4.901-1.4924-8.705-2.2898-3.803-.8053-6.447-1.3975-7.907-1.7765-1.453-.3711-2.86-1.1213-4.185-2.2186-1.334-1.0977-1.992-2.6373-1.992-4.6113 0-2.045.768-3.7663 2.349-5.1954 1.564-1.42916 3.596-2.14768 6.129-2.14768 2.685 0 5.169.58428 7.45 1.75288 2.279 1.1686 3.954 2.6609 5.017 4.5006 1.232 2.045 1.844 5.3928 1.844 10.0593zm-46.69 3.5531v-13.8571c0-1.8397-.175-3.3162-.541-4.4137-.366-1.1055-1.033-2.0924-2.016-2.97677-.992-.90012-2.241-1.74497-3.773-2.56614-4.43-2.37663-8.67-4.09003-12.776-5.17176-4.08-1.08962-8.543-1.63443-13.371-1.63443-5.615 0-10.727.852747-15.349 2.55825-4.629 1.71338-8.566 4.20056-11.839 7.45365-3.246 3.2531-5.749 7.1931-7.495 11.8279-1.748 4.6349-2.612 9.8146-2.612 15.5311 0 5.6217.842 10.762 2.541 15.4284 1.698 4.6822 4.184 8.6379 7.47 11.8989 3.304 3.2453 7.306 5.7404 12.03 7.4537 4.726 1.7371 10.076 2.6057 16.065 2.6057 4.915 0 9.273-.6632 13.06-1.9583 3.797-1.2949 6.869-2.9372 9.235-4.9033 2.36-1.9738 4.145-4.0663 5.336-6.2613 1.191-2.203 1.787-4.1532 1.787-5.8746 0-1.8317-.683-3.4031-2.056-4.7058-1.39-1.2949-3.043-1.9423-4.972-1.9423-1.063 0-2.079.2369-3.065.7343-.984.4894-1.801 1.1922-2.468 2.0687-1.827 2.8266-3.382 4.9742-4.638 6.4114-1.263 1.4448-2.97 2.6688-5.113 3.6558-2.152.9789-4.876 1.4764-8.202 1.4764-3.431 0-6.496-.5763-9.18-1.7449-2.699-1.1687-5.002-2.8662-6.915-5.0929-1.907-2.2028-3.368-4.9349-4.385-8.1405-1.016-3.2452-1.532-6.7983-1.532-10.7067 0-8.4801 1.986-15.01 5.917-19.5817 3.946-4.5716 9.44-6.8456 16.492-6.8456 3.415 0 6.638.45 9.655 1.3265 3 .8922 6.058 2.1476 9.155 3.79v11.741h-11.482c-2.755 0-4.851.4107-6.265 1.2397-1.413.8212-2.112 2.2109-2.112 4.1847 0 1.6029.595 2.9372 1.77 3.9954 1.183 1.0422 2.787 1.5633 4.814 1.5633h16.808c2.066 0 3.812-.1658 5.233-.529 1.437-.3632 2.589-1.1685 3.47-2.424.882-1.2476 1.319-3.1189 1.319-5.614zm-111.388 162.0691c0 17.844-14.538 32.311-32.476 32.311-17.945 0-32.484-14.467-32.484-32.311v-160.3951c0-17.8446 14.539-32.2939 32.484-32.2939 17.938 0 32.476 14.4493 32.476 32.2939zm-81.389-80.197c0 17.844-14.538 32.317-32.492 32.317-17.9291 0-32.4678-14.473-32.4678-32.317v-80.1981c0-17.8446 14.5387-32.2939 32.4678-32.2939 17.954 0 32.492 14.4493 32.492 32.2939zm-80.6421-80.1981c0 17.8445-14.5466 32.3174-32.4838 32.3174-17.9374 0-32.4841-14.4729-32.4841-32.3174 0-17.8446 14.5467-32.2939 32.4841-32.2939 17.9372 0 32.4838 14.4493 32.4838 32.2939z" fill="#80cc28" fill-rule="evenodd" transform="matrix(.133333 0 0 -.133333 0 30)"></path><path d="m145.61 110.999c0 17.844-14.538 32.311-32.492 32.311-17.9291 0-32.4678-14.467-32.4678-32.311v-.742c0-17.8288 14.5387-32.3096 32.4678-32.3096 17.954 0 32.492 14.4808 32.492 32.3096zm-80.6421 0c0 17.844-14.5466 32.311-32.4838 32.311-17.9374 0-32.4841-14.467-32.4841-32.311v-78.6974c0-17.8602 14.5467-32.30159869 32.4841-32.30159869 17.9372 0 32.4838 14.44139869 32.4838 32.30159869zm440.1821 16.787c0 3.964 1.524 7.928 4.565 10.96 3.041 3.048 7.052 4.548 11.03 4.548 3.691 0 8.306-1.777 11.164-4.581 2.803-2.787 4.525-6.102 4.525-9.775l-.015-20.734c.842-3.585 3.85-4.098 6.241-1.721l28.983 31.796c1.888 2.227 2.683 2.67 5.486 3.956 2.827 1.295 7.336 1.255 9.989.26 2.39-.907 5.336-2.676 7.655-6.727 2.191-3.836 2.421-9.498-1.335-14.535l-20.604-22.8593s-.858-.8685-.858-2.2897c0-.9949.888-2.1634.888-2.1634l30.42-44.106c1.779-2.5899 4.122-6.4982 4.216-10.8489v-.4659c-.031-1.8711-.492-3.8136-1.604-5.7638-4.311-7.5957-10.877-9.4829-16.229-8.8987-6.21.6871-9.028 4.3901-10.219 5.5429l-29.054 42.8347c-1.786 2.7636-5.073 4.398-8.878 3.3005-3.304-.9632-5.082-4.0979-5.082-7.3352v-28.5828c0-4.019-1.692-8.3853-4.787-11.4727-3.113-3.0871-7.011-4.311-11.093-4.311h-.222c-3.89 0-7.671 1.6344-10.641 4.5795-2.945 2.961-4.541 6.6562-4.541 10.4777zm-118.169 5.274c0 5.661 4.621 10.234 10.292 10.234h45.925c20.71.331 43.442-5.015 43.442-29.958 0-7.043-2.787-13.194-7.328-17.9389-1.565-1.6265-7.623-5.7719-7.623-5.7719s6.607-3.6163 8.218-4.7848c7.353-5.3454 11.585-13.9361 11.585-23.8849 0-28.4328-21.027-37.1418-46.785-37.1418h-47.434c-5.671 0-10.292 4.5558-10.292 10.1777zm31.325-29.712c0-1.816.674-3.6398 2.065-5.0058 1.388-1.3818 3.24-2.0844 5.049-2.0844h17.12c5.368 0 12.784 2.8503 12.784 11.3932 0 8.678-6.216 11.544-12.792 11.544h-17.112c-1.809 0-3.661-.695-5.049-2.061-1.391-1.381-2.065-3.206-2.065-5.021zm0-47.5406c0-1.8002.674-3.6319 2.065-4.9821 1.388-1.3818 3.24-2.1004 5.049-2.1004h17.945c9.934 0 16.841 3.5216 16.841 13.3913 0 10.5489-7.415 14.0547-16.841 14.0547h-17.945c-1.809 0-3.661-.6871-5.049-2.0688-1.391-1.3897-2.065-3.1978-2.065-5.0059zm-47.467-5.0769c-.994 11.3226-4.669 25.3929-17.199 28.5433-.144.0394-.311.1185-.311.2448 0 .1657.167.2211.311.3 12.435 4.9112 18.557 17.047 18.557 29.8304 0 24.106-20.884 33.645-42.069 33.645h-50.993c-5.686 0-10.282-4.573-10.282-10.234v-93.7547c0-3.9638 1.525-7.9274 4.574-10.9752 3.049-3.032 7.035-4.5164 11.021-4.5164h.588c3.866 0 7.757 1.4529 10.702 4.3901 2.954 2.9293 4.431 6.7904 4.431 10.6514v21.3977c0 1.8002.7 3.6004 2.066 4.9822 1.396 1.3818 3.215 2.0925 5.057 2.0925h16.595c14.658 0 16.667-12.4203 17.5-24.4613.057-.5053.191-2.0765.191-2.0765l.207-1.9346c.356-4.0031 2.192-7.8248 5.391-10.7541 3.192-2.8345 7.227-4.2796 11.221-4.2796 3.683 0 7.36 1.4766 10.044 4.4059 2.683 2.9611 3.844 6.7668 3.516 10.4226l-.943 10.1066s-.136 1.4212-.175 1.9739zm-46.444 45.5273h-17.103c-1.819 0-3.661.7026-5.057 2.0844-1.391 1.366-2.066 3.1818-2.066 5.0058v8.765c0 1.815.675 3.64 2.066 5.021 1.396 1.366 3.238 2.061 5.057 2.061h17.103c6.574 0 12.784-2.866 12.784-11.544 0-8.5429-7.409-11.3932-12.784-11.3932z" fill="#7d8184" fill-rule="evenodd" transform="matrix(.133333 0 0 -.133333 0 19.108)"></path></svg>
</use></svg>    
    </a>  
    <h1>Uplify Player 🤝 RBKGames</h1>
    
    <h2>Twitch Live Stream demo</h2>
    <input id="streamer__name" name="streamer__name" placeholder="Введите никнейм стримера" value="mrfreshasian">
    <button class="btn-grad" id="streamer__name__btn">👾 GO!</button> <br/>
    <label for="streamer__name">Укажите никнейм стримера, как в URL на сайте twitch.tv</label>
    <div id="container-1" class="container"> 

    </div> 

    <div style="display: none;">
      <h3>Пример интеграции через iFrame</h3>
      <textarea id="videoplayer-1-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=mrfreshasian&platform=twitch&section_id=3864167&w=640&h=360&interval=80" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>
    </div>

    <h3>Пример интеграции код</h3>
    <textarea rows="20" style="height: 240px;" id="videoplayer-1-js" class="player-integration">&lt;div id="uplify__container" style="width: 100%; height: 100%;"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"&gt;&lt;/script&gt;
&lt;script src= "https://player.twitch.tv/js/embed/v1.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="https://player.uplify.app/scripts/dist/application.js"&gt;&lt;/script&gt;
&lt;script&gt;
  window.onload = function() {
      const application = new UPApp({
          platform: 'twitch',
          twitchType: '',
          platformId: 'mrfreshasian',
          sectionId: 3864167,
          width: 640,
          height: 320,
          widthFloated: 400,
          heigthFloated: 225,
          interval: 600,
          mode: 'fixed',
          title: 'ANY TITLE TO ATTRACT USERS'
      });
      
  };
&lt;/script&gt;
      </textarea>

    <h2>Twitch VOD demo</h2>
    <input id="twitch__id" name="twitch__id" placeholder="Введите никнейм стримера" value="v335989820">
    <button class="btn-grad" id="twitch__id__btn">🎮 GO!</button> <br/>
    <label for="twitch__id">Укажите ID видео из настроек шеринга twitch.tv</label>
    <div id="container-2" class="container"> 

    </div> 
    <div style="display: none;">
      <h3>Пример интеграции через iFrame</h3>
      <textarea id="videoplayer-2-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=v335989820&platform=twitch&twitch_type=video&section_id=3864167&w=640&h=360&interval=80" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>
    </div>
    
    
    <h3>Пример интеграции код</h3>
    <textarea rows="20" style="height: 240px;" id="videoplayer-2-js" class="player-integration">&lt;div id="uplify__container" style="width: 100%; height: 100%;"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"&gt;&lt;/script&gt;
&lt;script src= "https://player.twitch.tv/js/embed/v1.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="https://player.uplify.app/scripts/dist/application.js"&gt;&lt;/script&gt;
&lt;script&gt;
  window.onload = function() {
    const application = new UPApp({
          platform: 'twitch',
          twitchType: 'video',
          platformId: 'v335989820',
          sectionId: 3864167,
          width: 640,
          height: 320,
          widthFloated: 400,
          heigthFloated: 225,
          interval: 600,
          mode: 'fixed',
          title: 'ANY TITLE TO ATTRACT USERS'
    });
  };
&lt;/script&gt;
      </textarea>

    <h2>Youtube VOD demo</h2>
    <input id="youtube__id" name="youtube__id" placeholder="Введите никнейм стримера" value="6NA5HR5svz8">
    <button class="btn-grad" id="youtube__id__btn">🕹 GO!</button> <br/>
    <label for="youtube__id">Укажите ID видео из настроек для шеринга Youtube</label>
    <div id="container-3" class="container"> 

    </div>
    <div style="display: none;">
      <h3>Пример интеграции через iFrame</h3>
      <textarea id="videoplayer-3-code" class="player-integration">&lt;iframe src="https://player.uplify.app/p?id=6NA5HR5svz8&platform=youtube&section_id=3864167&w=640&h=360&interval=80" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"&gt;&lt;/iframe&gt;</textarea>
    </div>
    

    <h3>Пример интеграции код</h3>
    <textarea rows="20" style="height: 240px;" id="videoplayer-3-js" class="player-integration">&lt;div id="uplify__container" style="width: 100%; height: 100%;"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"&gt;&lt;/script&gt;
&lt;script src= "https://player.twitch.tv/js/embed/v1.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="https://player.uplify.app/scripts/dist/application.js"&gt;&lt;/script&gt;
&lt;script&gt;
  window.onload = function() {
      const application = new UPApp({
          platform: 'youtube',
          twitchType: '',
          platformId: '6NA5HR5svz8',
          sectionId: 3864167,
          width: 640,
          height: 390,
          interval: 600,
          mode: 'fixed',
          title: 'ANY TITLE TO ATTRACT USERS'
      });
  };
&lt;/script&gt;
      </textarea>
  </section>
</body>

</html>

