<html>
  <head>
    <title>IMA HTML5 Simple Demo</title>
    <link rel="stylesheet" type="text/css" href="/test-ima/style.css">
  </head>

  <body>
    <div id="mainContainer">
      <div id="content">
        <video id="contentElement">
          <source src="https://storage.googleapis.com/gvabox/media/samples/stock.mp4"></source>
        </video>
      </div>
      <div id="adContainer"></div>
    </div>
    <button id="playButton">Play</button>
    <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3_debug.js"></script>
    <script type="text/javascript" src="/test-ima/ads.js"></script>
  </body>
</html>
