<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br /><br />
    <form action="">
      <table>
        <tr>
          <td>
            <label for="">Type 'video' for VOD</label>
          </td>
          <td>
            <input type="text" name="twitchType"><br /><br />
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Id</label>
          </td>
          <td>
            <input type="text" name="platformId"><br /><br />
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Section ID</label>
          </td>
          <td>
            <input type="text" name="sectionId"><br /><br />
          </td>
        </tr>
        <tr>
          <td>
            <label for="">width</label>
          </td>
          <td>
            <input type="text" name="width"><br /><br />            
          </td>
        </tr>
        <tr>
          <td>
            <label for="">height</label>
          </td>
          <td>
            <input type="text" name="height"><br /><br />            
          </td>
        </tr>

        <tr>
          <td>
            <label for="">width floated</label>
          </td>
          <td>
            <input type="text" name="widthFloated"><br /><br />            
          </td>
        </tr>
        <tr>
          <td>
            <label for="">height floated</label>
          </td>
          <td>
            <input type="text" name="heightFloated"><br /><br />            
          </td>
        </tr>

        <tr>
          <td>
            <label for="">Mode</label>
          </td>
          <td>
            <input type="text" name="mode" value="fixed"><br /><br />
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Title</label>
          </td>
          <td>
            <input type="text" name="title"><br /><br />
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Interval</label>
          </td>
          <td>
            <input type="text" name="interval"><br /><br />            
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <input type="submit" value="GO">
          </td>
        </tr>
      </table>
    </form>
    <div id="container" style="width: 100%; height: 100%;"></div>
    <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3_debug.js"></script>
    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
    <script type="text/javascript" src="https://player.uplify.app/scripts/dist/application.js"></script>
    <script>
      window.onload = function() {
        const application = new UPApp({
              platform: 'twitch',
              twitchType: '<%= twitchType %>' || '',
              platformId: '<%= platformId %>' || 'dakotaz',
              sectionId: '<%= sectionId %>' || 3813630,
              width: '<%= width %>' || 640,
              height: '<%= height %>' || 320,
              widthFloated: '<%= widthFloated %>' || 400,
              heightFloated: '<%= heightFloated %>' || 225,
              interval: '<%= interval %>' || 60,
              mode: '<%= mode %>' || 'fixed',
              title: '<%= title %>' || ''
          });
      };
    </script>
</body>
</html>