<!DOCTYPE html>
<html>
  <head>
    <title><%= platform %></title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.20.5/video-js.min.css"> -->
    <link href="https://vjs.zencdn.net/5.4.6/video-js.css" rel="stylesheet">
    <link href="/vpaid/videojs.vast.vpaid.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="margin: 0px;">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div class="vast-container">
                    <div id="vast-vpaid-form">
                        <div class="row"  style="display: none;">
                            <div class="one-third column">
                                <input type="radio" name="vast-type" class="tag-type-radio" id="vast-tag-radio">
                                <label for="vast-tag-radio">VAST/VPAID tag</label>
                            </div>
                            <div class="one-third column">
                                <input type="radio" name="vast-type" class="xml-type-radio" checked="checked" id="vast-sample-radio">
                                <label for="vast-sample-radio">VAST/VPAID sample tags</label>
                            </div>
                            <div class="one-third column">
                                <input type="radio" name="vast-type" class="custom-type-radio" id="vast-custom-radio">
                                <label for="vast-custom-radio">VAST/VPAID custom XML</label>
                            </div>
                        </div>
                        <div class="row tag-type"  style="display: none;">
                            <div class="twelve columns">
                                <label for="vast-tag">VAST Tag</label>
                                <input id="vast-tag" type="text" name="vast-type" class="u-full-width tag-el">
                            </div>
                        </div>
                        <div class="row xml-type"  style="display: none;">
                            <div class="twelve columns">
                                <label for="vast-samples">VAST/VPAID sample tags</label>
                                <select id="vast-samples" class="u-full-width xml-el">

                                </select>
                            </div>
                        </div>
                        <div class="row custom-type"  style="display: none;">
                            <div class="twelve columns">
                                <textarea class="u-full-width custom-el" placeholder="Sample VAST XMl"></textarea>
                            </div>
                        </div>
                        <div class="row"  style="display: none;">
                            <div class="twelve columns">
                                <a class="button button-primary" href="#">Update</a>
                                <a class="button button-info pause" style="display:none;" href="#">Pause Ad</a>
                                <a class="button button-info resume" style="display:none;" href="#">Resume Ad</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <div class="vjs-video-container" id="ad-content">
                                </div>
                                <div id="content">

                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="twelve columns">
                                <div id="content">
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    <style> 
        #ad-content {
            position: absolute;
            z-index: 99;
        }
    </style>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.20.5/video.min.js"></script> -->
        <script src="https://vjs.zencdn.net/5.4.6/video.js"></script>
        <script src="/vpaid/videojs_5.vast.vpaid.min.js"></script>
        <script src="/vpaid/es5-shim.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
        <script src="/scripts/videojs.vpaid.js"></script>
    <script>
          window.PLATFORM = '<%= platform %>';
        window.TWITCH_TYPE = '<%= twitch_type %>';
        window.PLATFORM_ID = '<%= id %>';
        window.SECTION_ID = '<%= section_id %>';
        window.PLAYER_WIDTH = '<%= width %>';
        window.PLAYER_HEIGHT = '<%= height %>';
        window.INTERVAL = '<%= interval %>';    
    </script>

  </body>
</html>

