#container {
  margin-left: auto;
  margin-right: auto;
}

#content, #adcontainer {
  position: absolute;
  top: 0px;
  left: 0px;
}

#videoplayer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}